<div class="numbers">
  <h2 class="numbers-title">NUMBERS</h2>
  <ul class="numbers-list">
    <li class="numbers-item" *ngFor="let number of randomNumbers" (click)="clickNumber(number)">
      {{ number }}
    </li>
  </ul>
  <div class="numbers-input">
    <p>my number</p>
    <div class="area-input">
      <input type="number">
      <button>get</button>
    </div>
  </div>
</div>
<div *ngIf="factToShow !== ''">
  <app-popup-modul [fact]="factToShow" (closePopup)="closePopup()"></app-popup-modul>
</div>
